@charset "UTF-8";
.md-fmt h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px; }

.editormd-preview-close-btn {
  display: none; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #017E66;
  border-color: #017E66; }

.pagination > li > a, .pagination > li > span {
  color: #017E66; }

.form-control {
  box-shadow: none; }
  .form-control:hover, .form-control:focus {
    box-shadow: none; }

.form-control, .btn {
  border-radius: 0; }

.animated.animated-quick {
  animation-duration: 0.3s; }

.cursor-pointer {
  cursor: pointer; }

.no-padding {
  padding: 0; }

a {
  color: #017E66; }
  a:hover {
    text-decoration: none; }

.no-margin {
  margin: 0; }

.well {
  border-radius: 0;
  border-left: none;
  border-right: none; }

.system-total {
  height: 30px;
  line-height: 30px; }
  .system-total .list-inline li {
    padding: 0 30px;
    text-align: center; }
    .system-total .list-inline li span {
      color: rgba(75, 75, 75, 0.86); }

.row {
  margin: 0; }

body {
  background: #fff; }

.data-list-header-action {
  padding: 10px 20px; }

.overflow-title-els {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 240px;
  overflow: hidden; }

.main-container {
  background: #fff;
  min-height: 500px; }

.well .well-header {
  word-wrap: break-word;
  border-bottom: 1px dashed #dddddd;
  margin-bottom: 10px; }
.well .well-content {
  padding: 5px; }

.badge.new-badge {
  border-radius: 4px;
  min-width: 30px;
  text-align: center;
  display: inline-block;
  padding: 0 8px;
  color: #017E66;
  background-color: rgba(1, 126, 102, 0.08);
  height: 24px;
  line-height: 24px;
  font-weight: normal;
  font-size: 13px;
  cursor: pointer; }
  .badge.new-badge.success {
    background-color: rgba(1, 126, 102, 0.08);
    opacity: .9; }
  .badge.new-badge:hover {
    background-color: #017e66;
    color: #fff; }

.author {
  color: #017E66; }

/*scroll bar*/
::-webkit-scrollbar {
  width: 14px;
  height: 14px; }

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 999px; }

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) inset; }

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset; }

::-webkit-scrollbar-corner {
  background: transparent; }

#process-bar {
  border-top: 3px solid #017E66;
  position: fixed;
  z-index: 2147483647;
  top: 0;
  left: 0px;
  width: 0%;
  height: 2px;
  background: #017E66;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition: width 500ms ease-out, opacity 400ms linear;
  -ms-transition: width 500ms ease-out, opacity 400ms linear;
  -o-transition: width 500ms ease-out, opacity 400ms linear;
  -webkit-transition: width 500ms ease-out, opacity 400ms linear;
  transition: width 500ms ease-out, opacity 400ms linear; }

.header {
  width: 100%;
  padding: 0;
  border-top: 3px solid #017E66;
  background: #fff;
  box-shadow: 0 2px 2px #ddd;
  margin: 0 0 20px;
  border-bottom: 1px solid #ddd; }
  .header .navbar-default {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    background: #fff; }
    .header .navbar-default .navbar-nav > li > a, .header .navbar-default .navbar-brand {
      line-height: 40px; }
    .header .navbar-default .dropdown-menu {
      min-width: auto; }
    .header .navbar-default .navbar-form {
      line-height: 69px;
      padding: 0;
      margin: 0;
      border: none; }
    .header .navbar-default .dropdown .dropdown-toggle {
      line-height: 39px; }

.category-list {
  border-top: 1px solid #ddd;
  padding: 0 10px;
  line-height: 50px;
  background: #fff; }
  .category-list .list-group {
    margin: 0; }
  .category-list .category-item {
    padding: 0;
    margin-left: 10px; }
    .category-list .category-item a {
      color: #9e9e9e;
      min-width: 30px; }
    .category-list .category-item.active a {
      text-decoration: none;
      color: #017E66; }
    .category-list .category-item a:hover, .category-list .category-item a:focus, .category-list .category-item a.active {
      text-decoration: none;
      color: #017E66; }

.header-adv {
  width: 100%;
  display: none;
  background: #000000; }

.header-adv.show {
  display: block; }

.page-bbs {
  margin-top: 20px; }
  .page-bbs .post-list-box {
    min-height: 600px; }
    .page-bbs .post-list-box .index-post-title {
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 400px;
      overflow: hidden;
      display: block; }

.page-post-detail {
  /*甯栧瓙璇︾粏*/ }
  .page-post-detail .post-detail .detail-box .post-detail-header {
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0; }
    .page-post-detail .post-detail .detail-box .post-detail-header .post-tag-box {
      color: #5e5e5e;
      font-size: 15px; }
      .page-post-detail .post-detail .detail-box .post-detail-header .post-tag-box .tags-box {
        min-width: 20%; }
    .page-post-detail .post-detail .detail-box .post-detail-header .post-title {
      margin: 0 0 15px; }
  .page-post-detail .post-detail .detail-box .content img {
    position: static !important;
    width: 100%;
    border: 1px solid #d3d3d3;
    padding: 4px; }
  .page-post-detail .post-detail .article-content {
    padding: 20px; }
  .page-post-detail .post-comments-total {
    margin-top: 20px;
    border-bottom: 4px solid #ddd; }
    .page-post-detail .post-comments-total h3 {
      font-weight: normal; }
  .page-post-detail .comments {
    padding: 10px 0;
    border-radius: 0; }
    .page-post-detail .comments .well {
      border: none;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
      box-shadow: none; }
      .page-post-detail .comments .well .well-header {
        border: none;
        border-radius: 0; }
    .page-post-detail .comments .comment-item {
      margin-bottom: 10px;
      background: #fff;
      padding: 0 5px; }
      .page-post-detail .comments .comment-item .well-header {
        padding: 15px 10px;
        margin: 0;
        border-radius: 0; }
      .page-post-detail .comments .comment-item .well-content {
        min-height: 60px;
        padding: 15px 40px; }
      .page-post-detail .comments .comment-item .user-msg-box {
        padding: 0 10px;
        margin-left: 20px; }

.post-box .post-verify-box .post-verify-img {
  transition: all .3s; }
  .post-box .post-verify-box .post-verify-img:hover {
    transform: scale(1.3); }
.post-box .w-e-text-container {
  background: #fff; }

.footer {
  background: #fff;
  margin-top: 20px;
  width: 100%;
  min-height: 100px;
  border-top: 1px solid #ddd; }
  .footer .friend-link-box {
    padding: 10px 30px;
    line-height: 30px; }
    .footer .friend-link-box .friend-link-head {
      color: #098ee1; }
    .footer .friend-link-box .friend-link-item a {
      color: #464646; }

.markdown-body {
  line-height: 1.6;
  word-wrap: break-word; }
  .markdown-body blockquote {
    background: #F6F6F6;
    color: #555;
    font-size: 1em;
    border-left: 4px solid #009A61;
    margin: 1.5em 0;
    padding: 10px 20px; }
  .markdown-body pre {
    padding: 1em;
    border: none;
    overflow: auto;
    line-height: 1.45;
    max-height: 35em;
    position: relative;
    background: url(../images/pre-print.png) #F6F6F6; }
  .markdown-body img {
    vertical-align: middle;
    padding: 3px;
    border: 1px solid #ddd;
    position: static !important;
    max-width: 100%; }

/*# sourceMappingURL=app.css.map */
