# Created by .ignore support plugin (hsz.mobi)
/.idea
#数据库文件

/data/mysql/*
/data/redis/*
#/data/backup/*
!/data/backup/data-default.sql
!/data/backup/README.txt
!/data/mysql/README.txt
!/data/redis/README.txt
/app/webroot/Application/Runtime/*
/logs/mysql/*.log
/logs/nginx/*.log
/logs/php-fpm/*.log
/logs/redis/*.log
docker-compose
vue-pagination/
