.animated.animated-quick {
  animation-duration: 0.3s; }

.cursor-pointer {
  cursor: pointer; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.well {
  border-radius: 0;
  border-left: none;
  border-right: none; }

.system-total {
  height: 30px;
  line-height: 30px; }
  .system-total .list-inline li {
    padding: 0 30px;
    text-align: center; }
    .system-total .list-inline li span {
      color: rgba(75, 75, 75, 0.86); }

.row {
  margin: 0; }

.main-box {
  box-shadow: 0 5px 10px #ddd;
  background: #fff;
  padding: 0; }
  .main-box .navbar-default {
    border-radius: 0;
    border: none; }

body {
  background: #eee; }

.header-adv {
  width: 100%;
  display: none;
  background: #000000; }

.header-adv.show {
  display: block; }

.data-list-header-action {
  padding: 10px 20px; }

.footer {
  margin-top: 20px; }
  .footer .friend-link-box {
    padding: 10px 30px;
    line-height: 30px; }
    .footer .friend-link-box .friend-link-head {
      color: #098ee1; }
    .footer .friend-link-box .friend-link-item a {
      color: #464646; }

.footer-end {
  min-height: 50px;
  background: #000;
  line-height: 50px;
  padding: 0 20px;
  color: #fff; }
  .footer-end a {
    color: #fff; }

.post-box {
  background: #f7f7f7; }
  .post-box .post-verify-box .post-verify-img {
    padding: 2px;
    border: 2px solid rgba(0, 66, 90, 0.89);
    height: 46px;
    width: 100%; }
  .post-box .w-e-text-container {
    background: #fff; }

.post-list-box {
  min-height: 600px; }
  .post-list-box .index-post-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 240px;
    overflow: hidden;
    display: block; }

.overflow-title-els {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 240px;
  overflow: hidden; }

.category-list {
  padding: 5px; }
  .category-list .category-item {
    padding: 0; }
    .category-list .category-item a {
      padding: 4px 10px;
      line-height: 30px;
      min-width: 100px;
      display: inline-block;
      cursor: pointer;
      text-align: center; }
    .category-list .category-item:hover a, .category-list .category-item.active a {
      background: #00b3ee;
      color: #fff; }
    .category-list .category-item a:hover, .category-list .category-item a:focus, .category-list .category-item a.active {
      text-decoration: none; }

.post-detail .detail-box {
  padding: 20px; }
  .post-detail .detail-box .post-title {
    margin: 10px 20px; }

.comments {
  background: #eee;
  padding: 10px 0; }
  .comments .comment-item {
    margin-bottom: 10px;
    border-radius: 8px;
    background: #fff;
    padding: 0 5px; }
    .comments .comment-item .well-header {
      padding: 15px 10px; }
    .comments .comment-item .well-content {
      min-height: 60px;
      padding: 15px 40px; }
      .comments .comment-item .well-content img {
        position: static !important;
        max-width: 100%; }
    .comments .comment-item .user-msg-box {
      padding: 0 10px;
      margin-left: 20px; }

.well .well-header {
  word-wrap: break-word;
  border-bottom: 1px dashed #dddddd;
  margin-bottom: 10px; }
.well .well-content {
  padding: 5px; }

/*# sourceMappingURL=app.css.map */
