.animated.animated-quick {
  animation-duration: 0.3s;
}

.cursor-pointer {
  cursor: pointer;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.well {
  border-radius: 0;
  border-left: none;
  border-right: none;
}

.system-total {
  height: 30px;
  line-height: 30px;
  .list-inline {
    li {
      padding: 0 30px;
      text-align: center;
      span {
        color: rgba(75, 75, 75, 0.86);
      }
    }
  }
}

.row {
  margin: 0;
}

.main-box {
  background: #fff;
  padding: 0;
  .navbar-default {
    border-radius: 0;
    border: none;

  }
}

body {
  background: #eee;
}

.navbar-brand {
  padding: 5px;
  margin-left: 10px;

  .header-logo {
    height: 40px;
  }
}

.header-adv {
  width: 100%;
  height: 100px;
  display: none;
  background: #000000;
}

.header-adv.show {
  display: block;
}

.main-container {
}

.data-list-header-action {
  padding: 10px 20px;
}

.footer {
  margin-top: 20px;
  .friend-link-box {
    padding: 10px 30px;
    line-height: 30px;
    .friend-link-head {
      color: #098ee1;
    }
    .friend-link-item {
      a {
        color: #464646;
      }
    }
  }
}

.post-box {
  background: #f7f7f7;
  padding: 30px;
  .post-verify-box {
    .post-verify-img {
      padding: 2px;
      border: 2px solid rgba(0, 66, 90, 0.89);
      height: 46px;
      width: 100%;
    }
  }
  .w-e-text-container {
    background: #fff;
  }
}

.post-list-box {
  .index-post-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 240px;
    overflow: hidden;
    display: block;
  }
}

.overflow-title-els {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 240px;
  overflow: hidden;
}

.category-list {
  padding: 5px;
  .category-item {
    padding: 0;
    a {
      padding: 4px 10px;
      line-height: 30px;
      min-width: 100px;
      display: inline-block;
      cursor: pointer;
      text-align: center;
    }
    &:hover, &.active {
      a {
        background: #00b3ee;
        color: #fff;
      }
    }
    a:hover, a:focus, a.active {
      text-decoration: none;
    }

  }
}

.post-detail {
  .detail-box {
    padding: 20px;
    .post-title {
      margin: 10px 20px;
    }
  }
}

.comments {
  background: #eee;
  padding: 10px 0;
  .comment-item {
    margin-bottom: 10px;
    border-radius: 8px;
    background: #fff;
    padding: 0 5px;
    .well-header {
      padding: 15px 10px;
    }
    .well-content {
      min-height: 60px;
      padding: 15px 40px;
    }
    .user-msg-box {
      padding: 0 10px;
      margin-left: 20px;
    }
    small {

    }
  }
}

.well {
  .well-header {
    word-wrap: break-word;
    border-bottom: 1px dashed #dddddd;
    margin-bottom: 10px;
  }
  .well-content {
    padding: 5px;
  }
}

