@import "page-auth";

.main-container {

  padding: 0 20px;
}

.data-list-header-action {
  padding: 10px 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.online-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}